<!DOCTYPE html>
<html lang="en">
<head><link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"><title>Manage Users</title></head>
<body>
    <nav><div><strong>SURVEILLANCE DESK</strong></div><div><a href="{{ url_for('dashboard') }}">Dashboard</a><a href="{{ url_for('logout') }}">Logout</a></div></nav>
    <div class="container">
        <div class="card">
            <table>
                <thead><tr><th>ID</th><th>User</th><th>Role</th></tr></thead>
                <tbody>{% for u in users %}<tr><td>{{u[0]}}</td><td>{{u[1]}}</td><td>{{u[3]}}</td></tr>{% endfor %}</tbody>
            </table>
        </div>
    </div>
</body>
</html>